.footer {
  background-color: var(--footer-background-color);
  border-top: 1px solid var(--footer-border-color);
  padding: 2.25rem 0 1rem;
  transition: background-color .2s ease-in-out;
  position: relative;

  .content-layout {
    position: relative;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__pattern {
    position: absolute;
    height: 100%;
    left: calc(50% + var(--content-layout-padding) + var(--content-layout-max-width) / 2);
    top: 0;
    right: 0;
    pointer-events: none;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: 113px auto;
    opacity: var(--footer-pattern-opacity);
    transition: opacity .2s ease-in-out;
  }

  &__flex {
    display: flex;
    align-items: flex-start;
    gap: clamp(1.25rem, 14vw - 8rem, 4.375rem);
  }

  &__col {
    width: 100%;
  }

  &__title {
    font-size: 1.0625rem;
    font-weight: 800;
    line-height: 1.5;
    margin-bottom: 0.375rem;
  }

  &__text {
    font-size: 0.9375rem;
    line-height: 1.6;

    &--big {
      font-size: 1.0625rem;
    }

    &--large {
      font-size: 1.75rem;
      font-weight: 800;
      line-height: 1.1;
    }
  }

  &__stats {
    padding-top: 1.25rem;
    white-space: nowrap;
    justify-content: space-evenly;

    .footer__col {
      width: auto;
    }
  }

  &__logo {
    width: var(--footer-logo-size);
    margin: 0 auto 0.875rem;
    display: none;

    img {
      display: block;
      width: 100%;
      filter: var(--footer-logo-filter);
    }
  }

  &__menu {
    margin: 4rem 0 4.6875rem;
    gap: clamp(1.25rem, 14vw - 6rem, 6.25rem);

    ul {
      font-size: 0.9375rem;
      line-height: 1.9;
      white-space: nowrap;
    }

    a:hover {
      opacity: .6;
    }

    &-mobile {
      display: none;
    }
  }

  &__links {
    ul {
      font-size: 0.875rem;
      font-weight: 500;
      white-space: nowrap;
      display: flex;
      align-items: flex-start;
      gap: 1.25rem;
      margin-top: 0.275rem;
    }

    a:hover {
      color: var(--color-primary);
    }
  }

  &__bottom {
    margin-top: 4.875rem;
  }

  &__gp {
    flex-shrink: 0;
    margin-top: -2.25rem;

    img {
      filter: var(--logo-gp-filter);
    }
  }

  &__info {
    font-size: 0.75rem;
    font-weight: 500;
    display: flex;
    flex-flow: column;
    gap: 0.75rem;
  }

  &__copyright {
    color: #989dab;
  }

  &__email {
    a {
      color: var(--color-primary);
      text-decoration: underline;

      &:hover {
        color: var(--color-primary);
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 63.9375rem) {
  .footer {
    --footer-text-size: clamp(0.875rem, 1vw + 0.65rem, 1.063rem);

    padding: 1rem 0 0.5625rem;

    &__pattern {
      left: 0;
      background-size: 94px auto;
    }

    &__title {
      display: none;
    }

    &__text {
      span {
        font-weight: 700;
      }

      &--big {
        font-size: var(--footer-text-size);
        line-height: 1.3;
        text-align: center;
        max-width: 37.5rem;
        margin: 0 auto;
      }
    }

    &__logo {
      display: block;
    }

    &__menu-mobile {
      margin: 2.25rem 0;
      display: block;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        gap: 0.8125rem;
        font-size: var(--footer-text-size);
      }
    }

    &__links ul {
      flex-wrap: wrap;
      margin: 0;
      justify-content: center;
    }

    &__bottom {
      flex-flow: column;
      margin: 0;
      align-items: center;
      gap: 0;
    }

    &__gp {
      margin: 2.25rem 0;
    }

    &__info {
      order: 1;
      gap: 0.5rem;
      text-align: center;
    }

    &__copyright {
      order: 1;
    }
  }
}
