.section-intro {
  padding-top: clamp(1.5rem, 2.6vw + 0.85rem, 3.125rem);

  &__title {
    margin: 0 auto clamp(0.5rem, 3.8vw - 0.45rem, 2.875rem);
    max-width: 61.25rem;
    text-align: center;
  }

  &__text {
    text-align: center;
    max-width: 61.25rem;
    margin: 0 auto;
  }

  &__button {
    position: relative;
    text-align: center;
  }
}
