.section-planning {
  .swiper-pagination {
    display: none;
    margin-top: 1.5rem;
  }

  &__lines {
    position: absolute;
    pointer-events: none;
    z-index: -1;
    bottom: var(--section-padding);
    left: 50%;
    transform: translateX(clamp(12.5rem, 23.93617021276596vw - 2.8191489361702127rem, 18.125rem));
  }

  &__body {
    width: 49%;
    margin-bottom: clamp(3rem, 3.8vw + 2.05rem, 5.375rem);
  }

  &__title {
    margin: 0;
  }

  &__text {
    margin-top: 0.75rem;
  }

  &__items {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: clamp(1.5rem, 6.2vw - 0.05rem, 5.375rem) clamp(1.5rem, 9.6vw - 0.9rem, 7.5rem);
  }

  &__item {
    width: 27%;

    .h5 {
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
  }

  &__icon {
    --size: clamp(6rem, 4.2vw + 4.95rem, 8.625rem);
    --icon-size: clamp(3.375rem, 2vw + 2.875rem, 4.625rem);
    --line-border-radius: 1.75rem;
    --offset: clamp(0.875rem, 0.6vw + 0.725rem, 1.25rem);
    --line-inset: auto auto var(--offset) var(--offset);

    margin-bottom: clamp(1.375rem, 1vw + 1.125rem, 2rem);
  }
}

@media (max-width: 63.9375rem) {
  .section-planning {
    .swiper-pagination {
      display: flex;
    }

    &__lines {
      position: static;
      width: 90%;
      margin-left: calc(var(--content-layout-padding) * -1);
      margin-bottom: 1rem;
      transform: scaleX(-1);
      max-width: 500px;
    }

    &__body {
      width: auto;
    }

    &__items {
      gap: 0;
      margin: 0 calc(var(--content-layout-padding) * -1);
      width: auto;
      flex-wrap: nowrap;
    }

    &__item {
      flex-shrink: 0;
      padding: 0 calc(1rem + var(--content-layout-padding));
    }
  }
}
