.section-intro {
  padding-top: clamp(1.5rem, 10.6vw - 1.15rem, 8.125rem);

  &__wrap {
    position: relative;
    padding: 0 53% 6.25rem 0;
  }

  &__title {
    margin: 0;
  }

  &__img {
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none;
    width: 50%;
    border-radius: 20px;
    box-shadow: 0 6px 24px var(--section-intro-img-shadow-color);
    display: block;
  }

  &__text {
    margin: 18px 0 clamp(0.875rem, 3.2vw + 0.075rem, 2.875rem);
  }

  &__lines {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: -1;
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    animation: dash 3s ease-out forwards;
  }

  &__badges {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: clamp(0.5rem, 0.6vw + 0.35rem, 0.875rem);
    margin: clamp(0.75rem, 0.2vw + 0.7rem, 0.875rem) 0 clamp(1.125rem, 1.8vw + 0.675rem, 2.25rem);
  }

  &__badge {
    background-color: var(--color-secondary-swap);
    font-weight: 700;
    padding: clamp(0.375rem, 0.3vw + 0.3rem, 0.5625rem) 0.75rem;
    border-radius: 40px;
  }

  &__subtext {
    font-weight: 700;
    margin-top: clamp(1.125rem, 0.2vw + 1.075rem, 1.25rem);

    span {
      font-weight: 400;

      &:after {
        content: " / ";
        display: inline;
      }
    }
  }
}

@media (max-width: 63.9375rem) {
  .section-intro {
    &__wrap {
      padding: 0;
      text-align: center;
    }

    &__img {
      position: static;
      width: 100%;
      border-radius: 8px;
      box-shadow: 0 2px 8px var(--section-intro-img-shadow-color-mobile);
      margin: 0.875rem auto 0;
      max-width: 720px;
    }

    &__badges {
      justify-content: center;
    }

    &__subtext {
      span {
        display: block;

        &:after {
          display: none;
        }
      }
    }
  }
}
