.section-ai {
  .swiper-pagination {
    display: none;
    margin-top: 2.25rem;
  }

  .post-form {
    max-width: 39.3125rem;
  }

  &__flex {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }

  &__col {
    width: 50%;
    order: 1;
    pointer-events: none;
  }

  &__body {
    width: 50%;
    padding-right: 60px;
    position: relative;
  }

  &__title {
    margin: 0;
  }

  &__text {
    margin: 0.75rem 0 1.75rem;
  }

  &__items {
    display: flex;
    align-items: flex-start;
    gap: clamp(1.5rem, 3.6vw + 0.6rem, 3.75rem);
    margin-top: 5.625rem;
  }

  &__item {
    width: 25%;

    .h5 {
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
  }

  &__icon {
    margin-bottom: 1.875rem;
  }

  &--v2 {
    .section-ai__col {
      order: 0;
      padding-left: 24px;
      width: 54%;
    }

    .section-ai__body {
      padding-left: 80px;
      padding-right: 0 !important;
      width: 46%;
    }
  }
}

@media (max-width: 63.9375rem) {
  .section-ai {
    .swiper-pagination {
      display: flex;
    }

    .post-form {
      width: 100%;
      padding: 0 10px;
      margin: 0 auto 1.25rem;
    }

    &__flex {
      display: block;
    }

    &__col {
      width: auto;
    }

    &__body {
      width: auto;
      padding: 0;
    }

    &__text {
      margin-bottom: 2.0625rem;
    }

    &__items {
      gap: 0;
      margin: 0 calc(var(--content-layout-padding) * -1);
      width: auto;
    }

    &__item {
      flex-shrink: 0;
      padding: 0 calc(1rem + var(--content-layout-padding));
    }

    &--v2 {
      .section-ai__col {
        width: auto;
        padding: 0;
      }

      .section-ai__body {
        width: auto;
        padding: 0;
      }
    }
  }
}
