.section-main-publication {
  &__lines {
    position: absolute;
    top: calc(clamp(0.625rem, -31.914893617021278vw + 28.550531914893618rem, 8.125rem) * -1);
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: -1;
  }

  &__flex {
    display: flex;
    align-items: flex-end;
    margin-bottom: clamp(1.125rem, 2.6vw + 0.475rem, 2.75rem);
    position: relative;
  }

  &-img {
    width: 50%;
    position: relative;
    pointer-events: none;
    z-index: 2;

    &__bg {
      border-radius: clamp(0.875rem, 0.6vw + 0.725rem, 1.25rem);
      margin: 0 auto;
      display: block;
      width: 50%;
      box-shadow: 0 6px 24px var(--header-submenu-shadow-color);
    }

    &__icons {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__body {
    width: 50%;
    background-color: var(--color-secondary-swap);
    border-radius: clamp(1.25rem, 2vw + 0.75rem, 2.5rem);
    padding: clamp(1.125rem, 3.4vw + 0.275rem, 3.25rem) clamp(0.75rem, 4.4vw - 0.35rem, 3.5rem);
    position: relative;

    .section-main-publication-img {
      position: absolute;
      left: clamp(32.8125rem, 19.9468085106383vw + 20.04654255319149rem, 37.5rem);
      top: 50%;
      width: 338px;
      transform: translateY(-50%);

      &__bg {
        border-radius: 0.875rem;
        width: 70%;
      }

      &__atop {
        position: absolute;
        top: 29%;
        left: 0;
        width: 100%;
      }
    }

    &--2 {
      width: 720px;
      margin: 0 auto;
      padding-right: 12.75rem;
      transform: translateX(-20px);
    }
  }

  &__title {
    margin: 0;
  }

  &__text {
    margin: clamp(0.75rem, 0.6vw + 0.6rem, 1.125rem) 0;
  }

  &__link {
    font-size: 0.9375rem;
    color: var(--color-primary);
    text-decoration: underline;

    &:hover {
      color: var(--color-primary);
      text-decoration: none;
    }
  }

  &--v2 {
    .section-main-publication {
      &__lines {
        top: calc(clamp(8.75rem, 7.9787234042553195vw + 3.643617021276596rem, 10.625rem) * -1);
      }

      &__flex {
        gap: clamp(1.5rem, 3.6vw + 0.6rem, 3.75rem);
        margin-bottom: clamp(1.5rem, 3.6vw + 0.6rem, 3.75rem);
      }

      &-img__bg {
        border-radius: clamp(1.25rem, 2vw + 0.75rem, 2.5rem);
        margin: 0;
        box-shadow: none;
        width: 41%;
        pointer-events: none;
      }

      &__body {
        width: 59%;

        &--2 {
          width: 600px;
          padding-right: clamp(0.75rem, 4.4vw - 0.35rem, 3.5rem);
          transform: translateX(-48px);
        }
      }

      &__text {
        margin: clamp(0.5rem, 1.4vw + 0.15rem, 1.375rem) 0 0;
      }
    }
  }
}

@media (max-width: 63.9375rem) {
  .section-main-publication {
    &__flex {
      display: block;
      margin: 0;
    }

    &-img {
      max-width: 700px;
      width: auto;
      margin: 0 auto;
    }

    &__body {
      padding-top: 100px;
      width: auto;

      .section-main-publication-img {
        left: 50%;
        top: 0;
        width: 100%;
        max-width: 338px;
        transform: translate(-50%, -70%);
      }

      &--1 {
        margin-top: -74px;
      }

      &--2 {
        width: auto;
        margin: 220px 0 0;
        padding-right: clamp(0.75rem, 4.4vw - 0.35rem, 3.5rem);
        transform: translateX(0);
      }
    }

    &--v2 {
      .section-main-publication {
        &__flex {
          margin-bottom: 0.5rem;
        }

        &-img__bg {
          max-width: 580px;
          width: 100%;
          margin: 0 auto;
        }

        &__body {
          width: auto;
          padding-top: clamp(1.125rem, 3.4vw + 0.275rem, 3.25rem);

          &--1 {
            margin-top: 0.5rem;
          }

          &--2 {
            width: auto;
            margin: 0;
            transform: translateX(0);
          }
        }

        &__text {
          margin: clamp(0.5rem, 1.4vw + 0.15rem, 1.375rem) 0 0;
        }
      }
    }
  }
}
