@media (prefers-color-scheme: dark) {
  :root:not(.dark-mode) {
    --background-color: var(--background-color-dark);
    --background-color-rgb: var(--background-color-rgb-dark);
    --text-color: var(--text-color-dark);
    --footer-background-color: var(--color-secondary-dark);
    --footer-border-color: var(--footer-border-color-dark);
    --footer-logo-filter: none;
    --logo-gp-filter: var(--logo-gp-filter-dark);
    --post-form-background-color: rgba(23, 23, 30, .4);
    --post-form-box-shadow-color: var(--post-form-box-shadow-color-dark);
    --post-form-box-shadow: var(--post-form-box-shadow-inset), var(--post-form-box-shadow-outset);
    --post-form-backdrop-filter: saturate(1) blur(18px);
    --post-form-tab-color: var(--post-form-tab-color-dark);
    --post-form-ai-chat-background-color: var(--post-form-ai-chat-background-color-dark);
    --post-form-ai-chat-shadow-color: var(--post-form-ai-chat-shadow-color-dark);
    --post-form-ai-chat-text-background-color: var(--post-form-ai-chat-text-background-color-dark);
    --post-form-user-chat-shadow-color: var(--post-form-user-chat-shadow-color-dark);
    --possibilities-item-icon-background-color: var(--color-secondary-dark);
    --section-advantages-col-background-color: var(--color-secondary-dark);
    --section-how-num-background-color: var(--color-secondary-dark);
    --section-how-num-background-color-mobile: var(--color-secondary-dark);
    --swiper-bullet-color: var(--color-secondary-dark);
  }
}

@media not (prefers-color-scheme: dark) {
  body {
    background-image: none !important;
  }
}
