*, *:before, *:after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: var(--header-height) 0 0;
  font-family: var(--font-family-primary);
  background-color: var(--background-color);
  background-position: 0 0, 0 100vw;
  background-repeat: no-repeat, repeat-y;
  background-size: 100% auto;
  color: var(--text-color);
  transition: color .2s ease-in-out,
  background-color .2s ease-in-out;
}

a {
  transition: color .2s ease-in-out,
  opacity .2s ease-in-out;
}

a, a:hover {
  color: var(--text-color);
  text-decoration: none;
}

input {
  outline: 0;
}

.content-layout {
  width: calc(100% - 2 * var(--content-layout-padding));
  margin: 0 auto;
  max-width: var(--content-layout-max-width);
}

.arc {
  --size: 216px;
  --border-width: 16px;
  --rotate-angle: 45deg;

  pointer-events: none;
  width: var(--size);
  height: var(--size);
  border: var(--border-width) solid transparent;
  border-radius: 50%;
  border-bottom-color: var(--color-line);
  transform: rotate(var(--rotate-angle));
}

.section {
  --section-padding: clamp(2.5rem, 8vw + 0.5rem, 7.5rem);

  padding: var(--section-padding) 0;
  position: relative;
  overflow: hidden;

  &--narrow {
    --section-padding: clamp(2.5rem, 4vw + 1.5rem, 5rem);
  }

  &--above {
    padding-top: clamp(1.5rem, 7.6vw - 0.4rem, 6.25rem);
  }
}

.swiper {
  &-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    &-bullet {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: var(--swiper-bullet-color);
      transition: background .2s ease-in-out;

      &-active {
        background: var(--post-form-tab-color);
      }
    }
  }

  &-button {
    &-wrap {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &-icon {
      width: 100%;
      height: 100%;
    }

    &-prev,
    &-next {
      width: 36px;
      height: 36px;
      flex-shrink: 0;
      cursor: pointer;
      color: #b7c6d9;
      transition: opacity .2s ease-in-out;
    }

    &-prev {
      .swiper-button-icon {
        transform: rotate(90deg);
      }
    }

    &-next {
      .swiper-button-icon {
        transform: rotate(-90deg);
      }
    }

    &-disabled {
      pointer-events: none;
      opacity: .5;
    }
  }
}

.rate {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &__button {
    flex-shrink: 0;
    width: 2.625rem;
    height: 2.625rem;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--section-rating-border-color);
    cursor: pointer;
    transition: background-color .2s ease-in-out;

    &:first-child {
      .rate__icon {
        transform: rotate(-180deg);
      }

      &:hover {
        background-color: #e60023;
      }
    }

    &:last-child {
      &:hover {
        background-color: var(--color-line);
      }
    }
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    pointer-events: none;
  }

  &--disabled {
    pointer-events: none;
  }
}

.tabs {
  display: flex;
  white-space: nowrap;
  gap: clamp(0.25rem, 0.8vw + 0.05rem, 0.75rem);

  &__item {
    background-color: var(--color-secondary-swap);
    transition: background-color .2s ease-in-out,
    color .2s ease-in-out;
    padding: clamp(0.5rem, 0.6vw + 0.35rem, 0.875rem) clamp(0.5rem, 1.2vw + 0.2rem, 1.25rem);
    font-weight: 500;
    font-size: clamp(0.875rem, 0.2vw + 0.825rem, 1rem);
    cursor: pointer;
    flex-shrink: 0;
    border-radius: 50px;

    &--active,
    &:hover {
      background-color: var(--color-primary);
      color: #fff;
    }

    &--active {
      cursor: default;
    }
  }
}

.counter {
  display: flex;

  &__button {
    --size: clamp(2.125rem, 0.8vw + 1.925rem, 2.625rem);

    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    flex-shrink: 0;
    background-color: #d4deeb;
    cursor: pointer;
    color: #1b1b20;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 0;
    transition: background-color .2s ease-in-out,
    color .2s ease-in-out;

    &:not(:disabled):hover {
      background-color: var(--color-primary);
      color: #fff;
    }

    &:disabled {
      pointer-events: none;
      opacity: .5;
    }
  }

  &__icon {
    --size: clamp(1.1875rem, 0.5vw + 1.0625rem, 1.5rem);

    width: var(--size);
    height: var(--size);
    pointer-events: none;
  }

  &__value {
    flex-shrink: 0;
    border: 0;
    background-color: transparent;
    text-align: center;
    font-family: var(--font-family-primary);
    font-weight: 800;
    font-size: clamp(1.125rem, 1vw + 0.875rem, 1.75rem);
    width: clamp(3rem, 1.8vw + 2.55rem, 4.125rem);
    padding: 0;
    color: inherit;
  }
}

@media (min-width: 64rem) {
  .desktop-hide {
    display: none !important;
  }
}

@media (max-width: 63.9375rem) {
  .mobile-hide {
    display: none !important;
  }

  .swiper-pagination {
    gap: 0.5rem;

    &-bullet {
      width: 8px;
      height: 8px;
    }
  }
}
