.blog-item {
  overflow: hidden;

  &__img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 1.25rem;
    padding-bottom: 67%;
    margin-bottom: clamp(0.5rem, 1.4vw + 0.15rem, 1.375rem);

    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    gap: 0.5rem;
    font-size: clamp(0.75rem, 0.2vw + 0.7rem, 0.875rem);
    color: #94a2b4;
    margin: 0 0 clamp(0.25rem, 0.8vw + 0.05rem, 0.75rem);
  }

  &__date {
    flex-shrink: 0;
  }

  &__badge {
    --icon-background-color: var(--color-primary);

    display: flex;
    align-items: center;
    padding: 7px 10px 7px 7px;
    flex-shrink: 0;
    background-color: var(--color-secondary-swap);
    border-radius: 50px;
    color: #94a2b4;
    line-height: 1;

    &:before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-right: 5px;
      background-color: var(--icon-background-color);
      flex-shrink: 0;
    }

    &--blog {
      --icon-background-color: #fbae3a;
    }
  }

  &-duration {
    display: flex;
    align-items: center;
    flex-shrink: 0;

    &__icon {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      margin-right: 4px;
    }
  }

  &__title {
    margin: 0 0 clamp(0.25rem, 0.8vw + 0.05rem, 0.75rem);

    a:hover {
      text-decoration: underline;
    }
  }

  &__text {
    line-height: 1.7;
  }

  &-avatar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;

    &__img {
      --size: 36px;

      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      flex-shrink: 0;
    }

    &__body {
      width: 100%;
      font-size: 0.875rem;
    }

    &__name {
      font-weight: 700;
    }

    &__text {
      margin-top: 2px;
      color: #7a828e;
    }
  }

  &--wide2 {
    .button--back {
      margin-bottom: 1.5rem;
    }
  }
}

@media (max-width: 63.9375rem) {
  .blog-item:not(.blog-item--wide, .blog-item--wide2) {
    .blog-item-avatar {
      display: none;
    }
  }

  /*.blog-item--wide2 {
    .blog-item {
      &__img {
        margin: 0;
      }

      &__stats {
        order: 1;
        margin-top: 1.125rem;
      }

      &__title {
        margin-bottom: 0;
      }

      &-avatar {
        order: 2;
      }
    }
  }*/
}

@media (min-width: 39.75rem) {
  .blog-item--wide,
  .blog-item--wide2 {
    display: flex;
    gap: clamp(1rem, 7.591623036649215vw - 2.017670157068063rem, 4.625rem);

    .blog-item {
      &__img {
        border-radius: clamp(1.25rem, 2.6178010471204187vw + 0.2094240837696335rem, 2.5rem);
        margin: 0;

        &-wrap {
          width: 48%;
        }
      }

      &__body {
        width: 52%;
      }

      &__stats {
        gap: clamp(1rem, 1.3089005235602094vw + 0.47971204188481675rem, 1.625rem);
        font-size: clamp(0.75rem, 0.3vw + 0.675rem, 0.9375rem);
        order: 1;
        width: 10%;
        margin-top: auto;
      }

      &__badge {
        order: 1;
      }

      &__title {
        margin: 0;
      }

      &__text {
        margin: 1.125rem 0;
      }

      &-avatar {
        order: 2;
        gap: 1rem;
        margin-top: 1.125rem;

        &__img {
          --size: 46px;
        }

        &__name {
          font-size: 1rem;
        }

        &__text {
          margin-top: 4px;
        }
      }
    }
  }

  .blog-item--wide2 {
    .blog-item {
      &__img-wrap {
        order: 1;
      }
    }
  }
}
