.blog-content {
  position: static;
  overflow: visible;

  &__wrap {
    .button--back {
      position: sticky;
      top: calc(var(--header-height) + 24px);
      float: left;
    }
  }

  &__body {
    --margin-top: clamp(2.125rem, 1.4vw + 1.775rem, 3rem);

    max-width: 940px;
    margin: 0 auto;
    font-size: clamp(1rem, 0.8vw + 0.675rem, 1.125rem);
    line-height: 1.6;

    p {
      margin: 0;

      & + p,
      & + h1,
      & + h2,
      & + h3 {
        margin-top: var(--margin-top);
      }
    }

    ul, ol {
      padding-left: 26px;

      & + h1,
      & + h2,
      & + h3 {
        margin-top: var(--margin-top);
      }
    }

    > img,
    p img,
    figure img {
      max-width: 100%;
      display: block;
      border-radius: clamp(0.5rem, 1.2vw + 0.2rem, 1.25rem);
      border: clamp(0.1875rem, 0.7vw + 0.0125rem, 0.625rem) solid #fff;
      box-shadow: 0 0 15px var(--header-submenu-shadow-color);
    }

    > img {
      margin: var(--margin-top) 0;
    }

    figure {
      margin: var(--margin-top) 0;

      figcaption {
        margin-top: clamp(0.5rem, 0.4vw + 0.4rem, 0.75rem);
        font-size: clamp(0.625rem, 0.4vw + 0.525rem, 0.875rem);
        text-align: center;
      }
    }

    h1 {
      font-size: clamp(1.5rem, 1.8vw + 1.05rem, 2.625rem);
      line-height: 1.2;
      margin: 0 0 clamp(0.5rem, 0.6vw + 0.35rem, 0.875rem);
      font-weight: 800;
    }

    h2 {
      font-size: clamp(1.125rem, 1.6vw + 0.725rem, 2.125rem);
      line-height: 1.2;
      margin: 0 0 clamp(0.25rem, 1vw, 0.875rem);
      font-weight: 800;
    }

    h3 {
      font-size: clamp(1.125rem, 0.6vw + 0.975rem, 1.5rem);
      line-height: 1.2;
      margin: 0 0 clamp(0.25rem, 1vw, 0.875rem);
      font-weight: 800;
    }

    p, h1, h2, h3 {
      a {
        color: var(--color-primary);
        text-decoration: underline;

        &:hover {
          color: var(--text-color);
          text-decoration: underline;
        }
      }
    }

    .incut-block {
      margin: clamp(3rem, 4.2vw + 1.95rem, 5.625rem) 0;
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    margin-top: clamp(2.625rem, 5.8vw + 1.175rem, 6.25rem);

    .button--back {
      order: 1;
    }
  }

  &__line {
    width: 100%;
    height: 1px;
    background-color: var(--section-rating-border-color);
    order: 0;
  }

  &__stats {
    display: flex;
    align-items: flex-start;
    gap: 1.75rem;
    color: #94a2b4;
    white-space: nowrap;
    order: 1;

    div:first-child {
      order: 1;
    }

    strong {
      color: var(--text-color);
    }
  }

  &__rate {
    display: flex;
    align-items: center;
    gap: 1.125rem;
    font-weight: 700;
    order: 1;

    .rate {
      order: 1;
    }
  }
}

@media (max-width: 76.25rem) {
  .blog-content {
    &__wrap {
      .button--back {
        position: static;
        top: auto;
        float: none;
        margin-bottom: 1.5rem;
      }
    }
  }
}

@media (max-width: 63.9375rem) {
  .blog-content {
    padding-top: 0;

    &__footer {
      display: block;
    }

    &__line {
      width: auto;
      margin: 0.875rem calc(var(--content-layout-padding-mobile) * -1);
    }

    &__stats {
      display: block;
      text-align: center;

      div + div {
        margin-top: 0.25rem;
      }
    }

    &__rate {
      display: block;
      margin-top: 1.75rem;
      text-align: center;

      .rate {
        justify-content: center;
        margin-bottom: 0.25rem;
      }
    }
  }
}
