.section-advantages {
  .arc {
    --size: 180px;
    --rotate-angle: 135deg;

    position: absolute;
    left: clamp(1rem, 4.4vw - 0.1rem, 3.75rem);
    top: clamp(1rem, 3.4vw + 0.15rem, 3.125rem);
  }

  &__lines {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    top: 13%;
    left: 35%;
    height: 87%;
  }

  &__flex {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: clamp(0.5rem, 3.4vw - 0.35rem, 2.625rem);
  }

  &__col {
    --border-radius: clamp(1.25rem, 2vw + 0.75rem, 2.5rem);

    background-color: var(--section-advantages-col-background-color);
    flex-basis: 42%;
    flex-shrink: 0;
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;
    transition: background-color .2s ease-in-out;

    img {
      max-width: 100%;
      display: block;
    }

    &--wide {
      flex-grow: 1;
    }

    &--stretch {
      align-self: stretch;
    }
  }

  &__title {
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: clamp(1rem, 4.4vw - 0.1rem, 3.75rem);
    margin: 0;
    display: flex;
    align-items: flex-end;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 100%);
  }

  &-item {
    padding: clamp(1rem, 4.4vw - 0.1rem, 3.75rem);

    &__title {
      margin-top: 0;
      margin-bottom: clamp(0.5rem, 1.4vw + 0.15rem, 1.375rem);
    }
  }
}

@media (min-width: 64rem) {
  .section-advantages {
    &__col {
      --transition-duration: 400ms;
      --transform-offset: 100px;

      opacity: 0;

      &--1 {
        transform: translate(calc(var(--transform-offset) * -1), calc(var(--transform-offset) * -1));
      }

      &--2 {
        transform: translate(var(--transform-offset), calc(var(--transform-offset) * -1));
      }

      &--3 {
        transform: translate(calc(var(--transform-offset) * -1), var(--transform-offset));
      }

      &--4 {
        transform: translate(var(--transform-offset), var(--transform-offset));
      }
    }

    &__lines {
      stroke-dasharray: 3000;
      stroke-dashoffset: 3000;
    }
  }


  .delayed-animation-start {
    .section-advantages {
      &__col {
        opacity: 1;
        transform: translate(0, 0);
        transition: opacity var(--transition-duration) ease-in,
        transform var(--transition-duration) ease-in;
      }

      &__lines {
        animation: dash 3s .6s ease-out forwards;
      }
    }
  }
}

@media (max-width: 63.9375rem) {
  .section-advantages {
    .arc {
      --size: 100px;
      --border-width: 8px;
    }
  }
}

@media (max-width: 37.5rem) {
  .section-advantages__col {
    flex-basis: 100%;
  }
}
