.section-mission {
  overflow: hidden;

  &__wrap {
    text-align: center;
    position: relative;
    max-width: 43.75rem;
    margin: 0 auto;
    padding-top: 16.25rem;

    .text-22 {
      margin-bottom: clamp(1.125rem, 2.8vw + 0.425rem, 2.875rem);
    }

    .h5 {
      margin-top: 0;
      margin-bottom: 0.5rem;
      padding: 0;
    }

    .button {
      margin-top: 18.75rem;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 1.625rem;
  }
}

@media (max-width: 63.9375rem) {
  .section-mission {
    &__wrap {
      padding-top: 12.8125rem;

      .button {
        margin-top: 1.5rem;
      }
    }

    &__title {
      margin-bottom: 12.5rem;
    }
  }
}
