.section-possibilities {
  .swiper-pagination {
    margin-top: 1.125rem;
    display: none;
  }

  &__grid {
    --gap: clamp(1.5rem, 3.6vw + 0.6rem, 3.75rem);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-auto-flow: row;
    gap: var(--gap);

    .section-possibilities__name {
      padding-top: 1.375rem;
    }
  }

  &__name {
    grid-column: span 2;

    &:not(.mobile-hide) {
      display: none;
    }
  }

  &__title {
    width: clamp(18.75rem, 22vw + 13.25rem, 32.5rem);
    position: relative;
    flex-shrink: 0;
    margin: 0;
    padding: 0;

    &-wrap {
      display: flex;
      align-items: center;
      margin-bottom: clamp(0.75rem, 1.6vw + 0.35rem, 1.75rem);
      position: relative;

      .arc {
        position: absolute;
        left: -146px;
        bottom: 43%;
      }
    }

    &-line {
      width: 100%;
      height: 16px;
      background-color: var(--color-line);
      pointer-events: none;
    }
  }

  &__text {
    max-width: 43.75rem;
  }
}

.possibilities-item {
  .arc {
    --rotate-angle: -45deg;

    position: absolute;
    left: calc(56% - var(--size) / 2);
    bottom: 45%;
  }

  &-icon {
    --size: clamp(5rem, 7.8vw + 3.05rem, 9.875rem);
    --border-radius: clamp(1rem, 1.6vw + 0.6rem, 2rem);
    --icon-size: clamp(3.125rem, 4.8vw + 1.925rem, 6.125rem);
    --line-size: clamp(5.25rem, 8.2vw + 3.2rem, 10.375rem);
    --line-border-radius: clamp(1.5rem, 2.1vw + 0.975rem, 2.8125rem);
    --offset: clamp(0.25rem, 0.4vw + 0.15rem, 0.5rem);
    --line-inset: var(--offset) var(--offset) auto auto;

    margin-left: clamp(0.5625rem, 0.7vw + 0.3875rem, 1rem);

    &__wrap {
      position: relative;
    }
  }

  &__title {
    margin-top: clamp(1.5rem, 2.4vw + 0.9rem, 3rem);
    margin-bottom: clamp(0.5rem, 1vw + 0.25rem, 1.125rem);
  }

  &__line {
    position: absolute;
    height: 16px;
    width: 45%;
    right: 0;
    bottom: 45%;
    background-color: var(--color-line);

    &--short {
      width: 25%;
      right: 13%;
    }
  }
}

@media (min-width: 64rem) {
  .section-possibilities {
    --transition-duration: 800ms;
    --transition-delay: 50ms;

    .arc,
    .text-16,
    &__title-line,
    &__title,
    &__text {
      opacity: 0;
    }

    &.delayed-animation-start {
      .arc,
      .text-16 {
        opacity: 1;
        transition: opacity var(--transition-duration) ease-in-out;
      }
    }
  }

  .possibilities-item {
    &-icon__wrap,
    &__title {
      opacity: 0;
    }
  }

  .delayed-animation-start {
    .section-possibilities {
      &__title-line,
      &__title,
      &__text {
        opacity: 1;
        transition: opacity var(--transition-duration) ease-in-out;
      }

      &__title,
      &__text {
        transition-delay: var(--transition-delay);
      }

      &__title-line {
        transition-delay: calc(var(--transition-delay) * 1);
      }
    }

    .possibilities-item {
      &-icon__wrap,
      &__title {
        opacity: 1;
        transition: opacity var(--transition-duration) ease-in-out;
      }

      &--1 {
        .possibilities-item-icon__wrap,
        .possibilities-item__title,
        .text-16 {
          transition-delay: calc(var(--transition-delay) * 2);
        }
      }

      &--2 {
        .possibilities-item-icon__wrap,
        .possibilities-item__title,
        .text-16 {
          transition-delay: calc(var(--transition-delay) * 3);
        }
      }

      &--3 {
        .possibilities-item-icon__wrap,
        .possibilities-item__title,
        .text-16 {
          transition-delay: calc(var(--transition-delay) * 4);
        }
      }

      &--4 {
        .possibilities-item-icon__wrap,
        .possibilities-item__title,
        .text-16 {
          transition-delay: calc(var(--transition-delay) * 5);
        }
      }
    }
  }
}

@media (max-width: 63.9375rem) {
  .section-possibilities {
    .swiper-pagination {
      display: flex;
    }

    &__grid {
      display: flex;
      gap: 0;
      margin: 0 calc(var(--content-layout-padding) * -1);
    }

    &__name:not(.mobile-hide) {
      display: block;
      padding-left: 3.75rem;
      padding-bottom: 5rem;
    }

    &__title {
      &-wrap {
        display: block;

        .arc {
          --size: 100px;
          --border-width: 8px;

          left: -60px;
        }
      }

      &-line {
        display: none;
      }
    }

    &__text {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        width: 8px;
        height: 47px;
        top: 100%;
        margin-top: 1rem;
        background-color: var(--color-line);
        pointer-events: none;
        left: 0;
      }
    }
  }

  .possibilities-item {
    flex-shrink: 0;
    padding: 0 calc(1rem + var(--content-layout-padding));

    .arc {
      display: none;
    }

    &__line {
      display: none;
    }
  }
}
